body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    margin: 3rem;
}
#home {
    text-align: center;
    margin: 6rem auto;
    width: 80%;
    line-height: 2rem;
}
#home h1{
    font-size: 2rem;
    font-weight:800;
}
#home p{
    font-size: 1.1rem;
    margin: auto;
    width: 50%;
}
.btn-try {
    background: #FFFFFF;
    background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -webkit-gradient(to bottom, #FFFFFF, #FFFFFF);
    border: solid #FF52BF 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 10px 0 #cfcfcf15;
    -moz-box-shadow: 0 1px 10px 0 #cfcfcf15;
    box-shadow: 0 1px 10px 0 #cfcfcf15;
    color: #FF52BF;
    float: right;
    font-family: Arial;
    font-size: 16px;
    margin: 0 1.5rem;
    padding: .5rem 2.5rem;
    text-shadow: 0 0 0 #000000;
    text-decoration: none;
    cursor: pointer;
    text-align: center;

 }
 
 .btn-try:hover {
    border: solid #FFFFFF 1px;
    background: #FFFFFF;
    background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -webkit-gradient(to bottom, #FFFFFF, #FFFFFF);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 .btn-start {
    background: #FF52BF;
    background-image: -webkit-linear-gradient(top, #FF52BF, #FF52BF);
    background-image: -moz-linear-gradient(top, #FF52BF, #FF52BF);
    background-image: -ms-linear-gradient(top, #FF52BF, #FF52BF);
    background-image: -o-linear-gradient(top, #FF52BF, #FF52BF);
    background-image: -webkit-gradient(to bottom, #FF52BF, #FF52BF);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 3rem;
    border: #FF52BF;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    margin: 2rem auto;
    padding: 16px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 20rem;
 }
 
 .btn-start:hover {
    border: solid #FF52BF 1px;
    background: #FF52BF;
    background-image: -webkit-linear-gradient(top, #FF52BF, #FF52BF);
    background-image: -moz-linear-gradient(top, #FF52BF, #FF52BF);
    background-image: -ms-linear-gradient(top, #FF52BF, #FF52BF);
    background-image: -o-linear-gradient(top, #FF52BF, #FF52BF);
    background-image: -webkit-gradient(to bottom, #FF52BF, #FF52BF);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
.img-mockups{
    height: auto;
    margin: 2rem auto;
    width: 100%;
}


#communities .content img{
    margin-right: 13rem;
}
#communities .content h2{
    font-size: 6rem;
}
#communities .content p{
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: #999999;

}




#together{
    background-color: #e4f5f0;
    width: 100%;
    height: auto;
    overflow: hidden;
    
}
#together img{
    
    width: 80%;
    height: auto;
    float: right;
    margin: auto 3rem 0 0;
}
 .grow {
    padding: 6% 1%;
 
    
}
.grow-box{
    margin:0 6rem ;
}
.grow-box p{
    padding: auto 3rem;
    width: 90%;
}
#together .grow h2{
    margin: 1rem 0;
    font-weight: bold;
}
.content{
    margin-bottom: 1rem;
}

/*#together{
    background-color: #e4f5f0;
    height: auto;
    text-align: center;
    overflow: hidden;
}
#together img{
    margin-left: auto;
    margin-top: 3rem;
    width: 100%;
    height: auto;
    text-align: left;
}

#together .grow {
    margin-right: auto;
    margin-left: auto;
    margin-top: 7rem;
    text-align: left;
    width: 50%;
}
#together .grow h2{
    margin: 1rem 0;
    font-weight: bold;
}*/

/* conversation start */

#conversation{
    padding: 3% 0;
}
#conversation img{
    width: 100%;
}
.conversation-box{
    margin: 20% 0 0 12%; 
}
.conversation-box h2{
    font-weight: bold;
    margin-bottom: 1rem;
}   

 @media (max-width:716px){
     header{
         margin: 2.5rem auto;
     }
     .logo-img{
        margin: 0 1rem;
     }
     .btn-try{
        padding: 10px 1rem;
     }
     #home p{
        width: 80%;
     }
     #together img{
        margin: 0rem auto 5rem auto;
        width: 90%;
        height: auto;
    }
    .grow{
        padding: 2% 1%;
        
    }
   #together .grow h2 {
        text-align: center;
        
    }
    .grow-box{
        text-align: center;
    }
    .grow-box p{
        margin: auto;
        width: 100%;
    }
    .conversation-box{
        text-align: center;
        margin: 4rem 1rem;
    }
 }
 @media (max-width:458px){
    header{
        margin: 1rem 1rem;
    }
    .logo-img{
        width: 50%;
        margin: 0 .1rem;
     }
     .btn-try{
        padding: .5rem 1rem;
        margin: 0 .1rem;
     }
     #home p{
        width: 100%;
     }
     .btn-start{
         width: 15rem;
     }
     .grow{
       text-align: center;
       
    }
    #together .grow h2 {
        
        text-align: center;
        
    }
    .grow-box{
        width: 100%;
        margin: auto;
      
    }
     .grow-box p{
        
    }
 }
 @media (max-width:279px){
    .btn-try{
        display: none;
     }
     #home p{
        width: 100%;
     }
     .grow{
        padding: 2% 3%;
        
    }
     .grow-box p{
        margin: auto;
        width: 100%;
    }
 }
