body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center !important;
}

/* Section */
#conversation ,footer, #together{
    text-align: left;
}

#home p, #together img{
    margin: auto;
}

#home .img-mockups, #together, #together img{
    height: auto;
}


/* header */
header{
    margin: 2% 0;
    padding: 1.5%;
}
#home {
    margin: 6rem auto;
    width: 80%;
}
.logo-img{
    float: left;
}
#home h1{
    font-size: 2rem;
    font-weight:800;
    margin: 1.5rem auto;
}
#home p{
    line-height: 2rem;
    font-size: 1.1rem;
    width: 50%;
}
/* Bottons */

.btn-try {
    background: #FFFFFF;
    border: solid #FF52BF 1px;
    border-radius: 20px;
    color: #FF52BF;
    float: right;
    font-size: 16px;
    font-weight: 500;
    margin: 0 1.5rem;
    padding: .5rem 2.5rem;
 }

 .btn-start {
    background: #FF52BF;
    border-radius: 3rem;
    border: #FF52BF;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    margin: 2rem auto;
    padding: 16px;
    width: 20rem;
 }

#home .img-mockups{
    margin: 2rem auto;
    width: 100%;
}

/* communities  */

#communities .content img{
    margin-right: 13rem;
}
#communities .content h2{
    font-size: 6rem;
}
#communities .content p{
    color: #999999;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 1rem;
}



/* Together */

#together{
    background-color: #e4f5f0;
}
#together img{
    width: 80%;
    float: right;
}
 .grow {
    padding: 6% 1%;
}
.grow-box{
    margin:0 6rem ;

}
.grow-box p{
    padding: auto 3rem;
    width: 90%;
}
#together .grow h2{
    margin: 1rem 0;
    font-weight: bold;
}
.content{
    margin-bottom: 1rem;
}


/* conversation start */

#conversation{
    padding: 3% 0;
}
#conversation img{
    width: 100%;
}
.conversation-box{
    margin: 20% 0 0 12%;
}
.conversation-box h2{
    font-weight: bold;
    margin-bottom: 1rem;
}

/* footer */
footer{
    background-color: #003438;
    color: #FFFFFF;
    padding: 5%;
}
#footer-box h4{
    margin:1rem auto ;
}

#footer-box p{
    font-size: .8rem;
    font-weight: 100;
    width:50%;
}

#footer-box input{
    border-radius: .5rem #000;
    height: 2rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    width:35%;
}
#footer-box button{
    background-color: #FF52BF;
    border-radius: .3rem;
    border-color: #FF52BF;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 4rem;
    padding:.4rem 1.3rem ;
}

.img-footer{
    margin-bottom: 1rem;
    width: 40%;
}
.phone{
    transform: rotate(-40deg)
}
.social-icon{
    font-size: 1.5rem;
    margin:1rem .3rem;
}


 @media (max-width:904px){
     #home p{
        width: 100%;
     }
 }
 @media (max-width:716px){
     header{
         margin: 2.5rem auto;
     }
     .logo-img{
        margin: 0 1rem;
     }
     .btn-try{
        padding: 10px 1rem;
     }
     #together img{
         height: auto;
        margin: 0rem auto 5rem auto;
        width: 90%;
    }
    .grow{
        padding: 2% 1%;
    }
    .grow-box p{
        margin: auto;
        width: 100%;
    }
     .conversation-box,   .grow-box{
        text-align: center;
    }
    .conversation-box{
        margin: 4rem 1rem;
    }
    #footer-box input{
        width:65%;

}

 }
 @media (max-width:458px){
    header{
        margin: 1rem;
    }
    .logo-img{
        margin: 0 .1rem;
        width: 55%;
     }
     .btn-try{
         margin: 0 .1rem;
        padding: .4rem .3rem;
     }
     .btn-start{
         width: 15rem;
     }
    .grow-box{
        margin: auto;
        width: 100%;
    }
    #footer-box input{
    width:70%;
}
 }
 @media (max-width:279px){
    .btn-try{
        display: none;
     }
     #home p{
        width: 100%;
     }
     .grow{
        padding: 2% 3%;

    }
     .grow-box p{
        margin: auto;
        width: 100%;
    }
 }
